.template{
    background-color: rgb(31, 162, 223);
    padding: 2%;
    border-radius: 50px;
    box-shadow: 0px 0px 50px  rgb(31, 162, 223)
  }

  body{
    background-image: url(neon-background--wallpaper.jpg);
    background-size: 720px 1160px;
    background-attachment: fixed
  }
  span{
    background-color: white;
    font-size: xx-large;
    word-spacing: 25px;
  }
*{
  text-decoration: none
}
h1{
  position: absolute;
  top: 20%;
  left: 25%;
  text-shadow: 0px 0px 20px white;
  color: white
}
@keyframes colour{
  from{background-color: white; color: red}
  to{background-color: #ff11ff; color: white} 
}

span:hover{
  animation-name: colour;
  animation-duration: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  box-shadow: 0px 0px 50px #ff11ff
}
