*{
    color: white;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-image: url(neon-mask-4k-yh.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 2%
}

.flex-container{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

}

.flex-container > div{
    padding: 0.5rem;
    border: 0.2rem solid lightgreen;
    margin: 0.3rem;
    font-size: 1.1rem;
}

.neon{
    float: left;
    font-size: 2rem;
    border: 0.2rem solid white;
    padding: 1rem;
    margin: 0.625rem;
    border-radius: 10px
}

.outer-box{
    height: 77vh;
    width: 60vw;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black url(235804.jpg) no-repeat center ;
    background-size: cover;
    filter: blur(1px) opacity(0.7)
}

.inner-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.3rem solid white;
    text-align: center;
    padding: 1rem;
    font-size: 2.3rem
}
.flex-container > div:hover{
    opacity: 0.5;
    background-color: #ff11ff;
    box-shadow: 0.5rem 0.5rem 0.5rem lightgreen
}

.neon:hover, .inner-box:hover, .outer-box:hover{
    box-shadow: 0rem 0rem 3rem white
}
@media (max-width: 560px) {
    .neon{
        float: none;
        text-align: center
    }
    .flex-container{
        justify-content: center;
        ;
    }
    .outer-box{
        position: relative;
        top: 17rem;
        height: 60vh
    
    }
}
