*{
    color: white;
    box-sizing: border-box;
    text-decoration: none
  }
  body{
    margin: 0px;
    padding: 0px;
    background: dodgerblue url(aurora.jpg) no-repeat fixed center;
    background-size: cover;
    height: 100vh;
  }
  
  .head{grid-area: head}
  .box1{grid-area: box1}
  .box2{grid-area: box2}
  .box3{grid-area: box3}
  .box4{grid-area: box4}
  .foot{grid-area: foot}
  
  .container{
    display: grid;
    height: 100vh;
    width: 98vw;
    grid-template-areas: 
    'head head head head head head'
    '. . box1 . box2 .'
    '. . box3 . box4 .'
    'foot foot foot foot foot foot';
    max-width: 2222px;
  }
  
  .box, .head, .foot{
    border: 2px solid lightblue;
    padding: 17px;
    margin: 17px;
    text-align: center;
    border-radius: 50px;
  }
  
  .box{
    height: 350px;
    width: 300px;
  }
  .inner_box{
    border: 2px solid white;
    margin: 10px;
    height: 170px;
    border-radius: 30px;
    background: white url(building.jpg) center;
    background-size: cover;
  }
  .two{
    background: white url(bird.jpg) center;
    background-size: cover;
  }
  .three{
    background: white url(river.jpg) center;
    background-size: cover;
  }
  .four{
    background: white url(rail.jpg) center;
    background-size: cover;
  }
  .content{
    border: 2px solid white;
    margin: 10px;
    border-radius: 30px;
    height: 100px;
    padding: 17px;
    font-size: x-large
  }
  
  @media all and (max-width: 660px){
    .container{
      justify-content: center;
      grid-template-areas: 
      'head head head'
      '. box1 .'
      '. box2 .'
      '. box3 .'
      '. box4 .'
      'foot foot foot';
    }
    .head{
      width: 90vw;
    }
  }
